$blackish:#292f51;
$redColor:#CB1E31;
$pastEve:#919191;
$theDark:#b2b2b2;
.container{
    min-height: 100vh;
  }
  .eventsCont {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.eventsP {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid $blackish;
    color: $blackish;
    text-align: center;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    padding: 0px 20px;
    font-size: 14px;
}
  .listCont{
    display: flex;
    flex-wrap: wrap;
    //border: 1px solid #b4b4b4;
    //justify-content: center;
    //background-color: red;
  }
  .divCont{
    //box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2); 
    //background-color: white;
  }
  .titleP{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: $redColor;
    margin-top: 30px;
    //border-bottom: 1px solid #afafaf;
  }
  .listDiv{
    box-sizing: border-box;
    height:auto;
    width:47%;
    border: 1px solid #eee;
    background-color: white;
    padding:30px;
    padding-top: 20px;
    padding-bottom:20px;  
    display: flex;
    align-items: center;
    //box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2); 
    margin: 10px;
    position: relative;
    
}
.finalsDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}
.matchesHeadDiv{
    display: flex;
    align-items: center;
    margin-top: 0px;
    flex-wrap: wrap;
}

  .theCont0{
    width: 100%; 
}
  .theCont01{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $blackish;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    font-weight: 500;
}
.theCont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 .theContLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
   
}
.theContRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
   
}
.imgDiv1{
    height:84px;
    width: 84px;
    border-radius:80px;
    background-color: $redColor;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2); 
    position: relative;
    display: flex;
    justify-content: center;
    border: 4px solid transparent;
    align-items: center;
    
}
.imgDiv2{
    height:84px;
    width: 84px;
    border-radius:80px;
    background-color: $blackish;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2); 
    position: relative;
    display: flex;
    justify-content: center;
    border: 4px solid transparent;
    align-items: center;
}
.theImg1{
    height:60px;
    width: 60px;
    //border-radius:80px;
    object-fit: contain;
}
.gameP{
    position: absolute;
    bottom:0;
    background-color: #e24c5e;
    padding: 2px 10px;
    border-radius: 20px;
    color: white;
    margin-bottom: -3px;
    font-size: 14px;
    background-color: #1ecb97;
}
.dateDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //height: 30px;
   // border-top: 1px solid #eee;
    margin-top: -10px;
    color: $blackish;
    padding-top: 0px;
}
#statDiv{
    //display: flex;
    width: 100%;
    //display: flex;
    align-items: center;
    height: 30px;
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 10px;
   // justify-content: space-between;
    padding-right: 0px;
   
}

.pickP{
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    color: $blackish;
    margin-top: 3px;
   
}
.statP{
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: $blackish;
    //background-color: green; 
    margin-top: -19px;
}
.statS1{
    margin-right: 10px;
    color: $redColor;
    
}
.statS2{
  color: $redColor;
}
.sepIc{
    margin-top: 20px;
    font-size: 40px;
    color: $redColor; 
}
.eventStatP{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: $redColor;
    margin-top: 10px;
}
.P1{
    margin-top: 10px;
    font-weight: 700;
    color: $blackish;
    font-size: 18px;
    text-align: center;
}
.countryP{
    font-weight: 600;
    color: #eb9d0c;
    text-align: center;
}
.P2{
    margin-top: 3px;
    color: #c1c1c1;
    font-size: 14px;
    text-align: center;
    display: none;
}
.p1Points{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 50%;
    margin-right: -28px;
    margin-top: 5px;
}
.usP{
    margin: 0px 20px;
    color: $redColor;
    font-weight: 600;
    font-style: italic;
}

.p2Points{
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    text-align: center;
    margin-left: -28px;
}
.eveP{
    font-weight: 600;
    color: $blackish; 
    font-size: 30px;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    padding: 0px 0px;
    //text-align: center;
    margin-top: 20px;
}
.eveP span{
    color: $redColor;
}
.eveDiv{
    width: 100%;
    display: flex;
    //justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.eveDiv p{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid $blackish;
    color: $blackish;
    width: 140px;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
#playerP1 {
    background-color: $redColor;
    color: white;
    border-color: $redColor;
}
.eventCreationDiv{
    display: flex;
    flex-wrap: wrap;
}
.eventP{
    border: 1px solid $blackish;
    width: 160px;
    margin-top: 20px;
    text-align: center;
    padding: 4px 0px;
    border-radius: 5px;
    font-weight: 500;
    color: $blackish;
    cursor: pointer;
    margin-right: 20px;
    
}
.eventP2{
    //border: 1px solid $blackish;
    width: 180px;
    margin-top: 20px;
    text-align: center;
    padding: 4px 0px;
    border-radius: 5px;
    font-weight: 500;
    color: $blackish;
    cursor: pointer;
    background-color: $redColor;
    color: white;
    
}
.selectorDiv{
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.selectorDiv p{
    margin-left: 5px;
    color: $blackish;
    font-weight: 500;
}

.boxDiv3{
  height:18px;
  width:18px;
  border: 2px solid $redColor;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $redColor;
  color: white;
}
.boxDiv3b{
  height:18px;
  width:18px;
  border: 2px solid $blackish;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: $blackish;
}
.checkDiv{
  cursor: pointer;
}
#playerP2 {
    background-color: $redColor;
    color: white;
    border-color: $redColor;
}

#playerP3 {
    background-color: $blackish;
    color: white;
    border-color: $blackish;
}
.profileDiv{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border: 1px dotted $blackish;
    width: auto;
    //justify-content: space-around;
    padding: 10px 20px;
    border-radius: 20px;
    min-width: 300px;


    position: absolute;
    top: 0;right: 0;
    margin-top: 210px;
    margin-right: 100px;
}
.imageDiv{
    margin-right: 20px;
    border-radius: 5px;
    width: 70px;
    height:70px;
    background-color: white;
   // border: 1px solid #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.imageDiv img{
    height: 100%;
    object-fit: cover;
}
.detailsDiv p{
  color: $blackish;
  margin: 2px 0px;
  font-weight: 600;
  font-size: 15px;
}
.personIC{
    color: #eee;
    font-size: 50px;
}
#editP{
    border: 1px solid $redColor;
    color: $redColor;
    padding: 2px 0px;
    border-radius: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}
.scoresCont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.scoresCont div{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted $blackish;
    padding: 30px 10px;
    border-radius: 10px;
}
.scoreP1{
    color: $blackish;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.currentP{
  font-size: 14px;
  color: #d7b830;
  font-weight: 600;
}
.scoreP2{
  color: $redColor;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}
.theCountDiv{
    display: flex;
    justify-content: center;
}
.theCount{
    font-size: 14px;
    font-weight: 600;
    color: $blackish;
    margin-top: 10px;
}
.detailsModal{
    position: fixed;
    top:0;bottom:0;left:0;right:0;
    z-index: 10;
    background-color: #00000022;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailsModal{
    position: fixed;
    top:0;bottom:0;left:0;right:0;
    z-index: 10;
    background-color: #00000022;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picksDiv{
    background-color: $blackish;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.picksP{
    background-color: $blackish;
    color: white;
    border: 1px solid $blackish;
    font-size: 16px;
    font-weight: 600;  
    //background: linear-gradient(to right, #CB1E31 0%, #fa495e 100%);
}
.joinRamDiv{
    display: flex;
    justify-content: center;
    border-top: 1px solid #eee;
    margin-top: 15px;
}
.joinRamBtn{
    background-color: transparent;
    //width: 60%;
    border: none;
    border: 1px solid $blackish;
    color: $blackish;
    padding: 7px 10px;
    margin-top: 15px;
    font-size: 16px;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
}
.thePickDiv{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 10px;
   
}
.thePickP{
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid $redColor;
    color: $redColor;
    padding-bottom: 5px;
}
.teamIC{
    color: white;
    font-size: 50px;
}
.resultsCont{
    display: flex;
    flex-wrap: wrap;
 }
 .resultsDiv{
    margin-bottom: 10px;
 }
 .lastUpdateP{
    font-size: 10px;
    color: #1ecb97;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 5px;
    //color: $redColor;
 }
.resultsBtn{
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e1cb08;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  .headList{
    margin-right: 20px;
    border: 1px solid $blackish;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
   // flex-direction: column;
    align-items: center;
    color: $blackish;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}
.selectHomeEventDiv{
    position: absolute;
    top:0;right:0;bottom: 0;left: 0;
    background-color: white;
    font-size: 12px;
    color: $blackish;
    border-radius: 5px;
    background-color: #00000011;
    display: flex;
    justify-content: flex-end;
}
.selectHomeEventDiv button{
   border: 1px solid #eee;
   padding: 4px 7px;
   border-radius: 5px;
   background-color: $redColor;
   margin-top: 2px;
   margin-right: 5px;
   cursor: pointer;
   height: 30px;
   font-size: 12px;
   color: white;
   margin-right: 35px;
   
}
.headListP1{
    font-size: 14px; 
 }
 .headListP2{
     font-size: 10px; 
     
 }
 .headListP3{
     font-size: 10px; 
 }
 .headListDiv2{
     display: flex;
     margin-top: 0px;
     align-items: center;
     margin-right: 10px;
 }
 .createEventDiv{
    width: 350px;
    height: auto;
    background-color: white;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}
.eventHeadP{
    font-weight: 600;
    color: $blackish;
    text-decoration: underline;
}
.eventHeadP span{
    color: $redColor;
}
.weekP{
    font-weight: 600;
    color: $blackish;
    margin-bottom: 15px;
}
.eventTitleP{
    margin-top:20px;
    font-size: 12px;
    font-weight: 500;
    color: $blackish;
}
.eventErrorP{
    color: $redColor;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}
.submitBtn{
    margin-top: 20px;
    padding: 7px 30px;
    border: none;
    background-color:  $redColor;
    color: white;
    cursor: pointer;
}
.eventInput{
    outline: none;
    border: none;
    color: $blackish;
    outline: none;
    border: none;
    color: black;
    border-bottom: 1px solid #eee;
    margin-top: 5px;
    width: 250px;
    height: 30px;
    padding: 2px 10px 2px 0px;
  }
  .week1GamesNo{
    margin-top: 10px;
    outline: none;
    border: none;
    color: $blackish;
    outline: none;
    border: none;
    color: black;
    border-bottom: 1px solid #eee;
    width: 150px;
    height: 30px;
    padding: 2px 10px 2px 0px;
}
  .pickWinnerDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pickWinnerDiv p{
    font-size: 12px;
    border: 1px solid #70c070;
    padding: 2px 10px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
    color: #70c070;
}
.listDivB{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.closeIc{
    position: absolute;
    top:0;right:0;
    margin: 10px 20px 5px 10px;
    font-size: 25px;
    cursor: pointer;
}
.listDivB2 p{
    font-size: 18px;
    margin-left: 5px;
}
.chooseP{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    color: $blackish;
   
}
.listDivB2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    cursor: pointer;
    color: $blackish;
}
.listDivB2C{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    cursor: pointer;
    color: $redColor;
}
.listDivB2C p{
    font-size: 18px;
    margin-left: 5px;
}
.listDivB2:hover{
    color: $redColor;
}
.listDivB button{
    padding: 7px 50px;
    background-color: $redColor;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.listDivB3{
    display: flex;
    align-items: center;
    color: #4ccc57;
}
.listDivB3 p{
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
}
@media all and (max-width: 900px) {
    .profileDiv{
        display: flex;
        margin-bottom: 30px;
        padding: 20px 20px;
        position: relative;
        margin-top: 20px;
        margin-right: 0px;
        max-width: 400px;
        min-width: auto;
    }
}
@media all and (max-width: 800px) {
      .listDiv{
        width:48%;
        padding:20px;
        padding-top: 20px;
        padding-bottom:20px;  
        margin: 5px;
      }
     
}
@media all and (max-width: 600px) {
      .listDiv{
        width:100%;
        padding:20px;
        padding-top: 20px;
        padding-bottom:20px;  
        margin: 10px;  
    }
    .scoreP1{
        font-size: 20px;
    }
    .scoreP2{
      font-size: 16px;
      font-weight: 600;
    }
}
@media all and (max-width: 430px) {
    
      .listDiv{
        padding:20px;  
        margin: 0px;
        margin-bottom: 10px;  
    }
    .scoresCont div{
        width: 32%;
    }
    .scoreP1{
        font-size: 18px;
    }
    .eveP{
        font-size: 26px;
    }
    
}
@media all and (max-width: 360px) {
      .listDiv{
        padding: 10px 10px 30px 10px;
      }
      .profileDiv{
        margin-bottom: 30px;
        width: 90%;
        padding:15px 10px;
        position: relative;
        margin-top: 20px;
        margin-right: 0px;
    }
    .imageDiv{
        margin-right: 20px;
        border-radius: 5px;
        width: 60px;
        height:60px;
    }
    .eveP{
        margin-top: 0px;
    }
    }





































































 