
  //shops reel
  $primaryColor: #ff8801;
  $secondaryColor: #FED800;
  $blackish:#292f51;
  $redColor:#CB1E31;
  .container{
    min-height:600px;
    height: 95vh;
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
    //box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
    border-bottom: 1px dotted rgb(229, 229, 229);
    position: relative;
  }
  .detCont{
    height: 100%;
    width: 50%;
    background-color: #00000000;
    position: absolute;
    top: 0;left: 0;right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 90px 0px 120px;
  }
  .detCont h2{
    font-size: 60px;
    width: 100%;
    color: $blackish;
    font-weight: 800;
    font-family: "Rubik", sans-serif;
  }
  .detCont p{
    margin-top:20px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height:26px;
    color: $blackish;
  }
  .detCont button{
    width: 230px;
    height: 40px;
    background: linear-gradient(to right, #CB1E31 0%, #fa495e
     100%);
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
  .imgCont{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(240, 240, 240);
    height: 100%;
    padding-right: 120px;
  }
  .imgCont img{
    height: 420px;
  }
  .typeDiv{
    margin: 0px 0px 0px 0px;
    display: flex;
}
.typeP{
    font-size: 40px;
    font-weight: 900;
    -webkit-text-stroke: 1px $redColor;
    color: #00000000;
    line-height: 60px;
    
}
  @media all and (max-width: 1400px) {
    .detCont h2{
      font-size: 50px;
      width: 100%;
    }
    .imgCont img{
      height: 370px;
    }
  }
@media all and (max-width: 1000px) {
  .container{
    min-height:450px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 100px 20px 70px 30px;
  }
 .detCont{
  position:relative;
  width: 100%;
  order: 1;
  padding: 50px 90px 0px 50px;
 }
 .imgCont{
  width: 100%;
  order: 2;
  margin-top: 30px;
  padding-right: 0px;
  justify-content: center;
 }
}
@media all and (max-width: 800px) {
  .imgCont img{
    height: 300px;
  }
  .detCont{
  padding: 50px 40px 0px 40px;
  align-items: center;
  text-align: center;
  }
}
@media all and (max-width: 600px) {
  .detCont{
    padding: 50px 0px 0px 0px;
    }
    .detCont h2{
      font-size: 44px;
      width: 100%;
    }
}
@media all and (max-width: 430px) {
  .detCont{
    padding: 50px 0px 0px 0px;
    }
    .detCont h2{
      font-size: 40px;
      width: 100%;
    }
    .imgCont img{
      height: 220px;
    }
    .container{
      padding: 100px 20px 70px 20px;
    }
}
@media all and (max-width: 370px) {
  .detCont{
    padding: 30px 0px 0px 0px;
    }
  .detCont h2{
    font-size: 32px;
  }
}


