$blackish:#292f51;
$redColor:#CB1E31;
$pastEve:#919191;
$pastEve2:#dc9600;

#table1Div {
    margin: 20px 20px;
    margin-top: 20px;
    overflow-x: auto;
    padding-top: 20px;
    // min-width: 1000px;
}

.table1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(231, 231, 231);
    min-width: 1100px;
}

.table1 td {
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 15px 8px;
}

.table1 th {
    border: 1px solid rgb(231, 231, 231);
    padding: 15px 8px;
}

.table1 th {
    font-size: 14px;
}

.table1 {
    box-sizing: border-box;
}

#table1Tr1 th {
    min-width: 120px;
    font-weight: 600;
    color: $blackish;
}
#table1Tr2{
    color: $blackish;
}
#table1Tr2 th {
   
    font-weight: 400;
    color: $redColor;
}

#table1Tr2 td {
    font-size: 14px;
    text-align: center;
    //color: $blackish;
    font-weight: 500;
}

.table1 tr:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

#table tr:nth-child(even) {
    background-color: #30334e
}

.table tr:hover {
    background-color: rgb(241, 241, 241);
}

#table tr:hover {
    background-color: #404466
}
.eve2Div{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.eve2Div p{
    margin-right: 20px;
    border: 1px solid $blackish;
    color: $blackish;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    padding: 4px 20px;
    border-radius: 2px;
    font-size: 16px;
}
#theSubMenuP2{
    color: white;
    border-color: $redColor;
    background-color:$redColor;
}
.menu2Div1 {
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    margin: -10px 0px 50px 0px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
#exportDiv{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -20px;
 }
 #exportDiv1{
    font-size: 20px;
    width: 170px;
    color: $redColor;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 10px;
   
 }
 .exportP{
    font-size: 16px;
    border: 1px solid $redColor;
    margin-top: 10px;
    padding: 2px 10px;
    font-weight: 500;
    cursor: pointer;
 }
 .delIC{
    font-size: 24px;
    cursor: pointer;
}
.modal{
    position: fixed;
    top:0;bottom:0;right:0;left:0;
    z-index: 10;
    background-color: #00000022;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delModal{
    width: 400px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
.delModalP1{
    font-size: 18px;
    font-weight: 600;
}
.delModalP2{
    margin: 10px 0px;
}
.delModal div{
    margin-top: 15px;
}
.delModal button{
    padding: 5px 20px;
    margin-right: 10px;
    cursor: pointer;
}
 @media all and (max-width: 600px) {
    .eve2Div p{
        margin-right: 5px;
        padding: 4px 15px;
        border-radius: 2px;
        font-size: 16px;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 360px) {
    .eve2Div p{
        margin-right: 5px;
        padding: 4px 10px;
        border-radius: 2px;
        font-size: 16px;
        margin-bottom: 10px;
    }
}