$blackish:#292f51;
$redColor:#CB1E31;
$pastEve:#919191;

$pastEve2:#dc9600;
.container {
    padding: 200px 90px 100px 90px;
    min-height: 100vh;
    //min-width: 1200px;
}
.headerCont{
    display: flex;
    margin: 20px 10px 5px 0px;
    flex-wrap: wrap;
    //justify-content: center;
}
.headerDiv{
    margin-right: 15px;
    border: 1px solid $blackish;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $blackish;
    color: white;
    cursor: pointer;
    //width: 30%;
    text-align: center;
    margin-bottom: 10px;
}
.headerDiv2{
    margin-right: 15px;
    border: 1px solid $blackish;
    padding: 10px 20px;
    border-radius: 5px;
    color: $blackish;
    cursor: pointer;
    //width: 30%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}
.menu2Div0{
    //display: flex;
    justify-content: space-between;
}
.menu2Div1 {
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    margin: 10px 0px 50px 0px;
    //box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    font-weight: 600;
    font-size: 18px;
    //width: 70%;
    position: relative;
}
.menuHeader{
    display: flex;
    margin-top: -10px;
    margin-bottom: 30px;
}
.menuHeader p{
 font-size: 18px;
 margin-right:20px;
 border-bottom: 1px solid $blackish;
 padding-bottom: 3px;
 font-weight: 500;
 color: $blackish;
 cursor: pointer;
}
.eventsCont {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.eventsP {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid $blackish;
    color: $blackish;
    text-align: center;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    padding: 0px 20px;
    font-size: 14px;
}
.noDataP0{
    font-size: 16px;
    color: $redColor;  
    text-decoration: underline;
    margin-top: -10px;
    margin-bottom: 5px;
}
.noDataP1{
    font-size: 20px;
    color: $blackish;
    
}
.noDataP2{
    //background-color: $redColor;
    width: 150px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blackish;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid $blackish;
}
#playerP1 {
    background-color: $redColor;
    color: white;
    border-color: $redColor;
}

#playerP2 {
    background-color: $redColor;
    color: white;
    border-color: $redColor;
}
.theNav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a2a2a2;
    padding-bottom: 10px;
    width: auto;
}

.navIC{
    margin-right: 10px;
    font-size: 35px;
    color: $blackish;
    cursor: pointer;
}
.titleP0 {
   // background-color: #404466;
    //height: 50px;
    display: flex;
    color: white;
    padding: 0px 0px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    color: $blackish;
   
}
.titleP0 span{
    margin-left: 5px;
    color: $redColor;
}
.titleP {
    display: flex;
    color: white;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: $blackish;
    border-bottom: 1px solid #a2a2a2;
    
}
.titleP span{
    margin-right: 4px;
    color: $redColor;
}
.eveP{
    font-weight: 600;
    color: $blackish; 
    font-size: 30px;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    padding-right: 20px;
    //text-align: center;
    margin-top: 20px;
    margin-bottom:30px;
}
.eveP span{
    color: $redColor;
}
#table1Div {
    margin: 20px 20px;
    margin-top: 20px;
    overflow-x: auto;
    padding-top: 0px;
    
    // min-width: 1000px;
}

.table1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(231, 231, 231);
    //min-width: 1100px;
}

.table1 td {
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 15px 8px;
}

.table1 th {
    border: 1px solid rgb(231, 231, 231);
    padding: 15px 8px;
}

.table1 th {
    font-size: 14px;
}

.table1 {
    box-sizing: border-box;
}

#table1Tr1 th {
    min-width: 120px;
    font-weight: 600;
    color: $blackish;
}
#table1Tr2{
    color: $blackish;
}
#table1Tr2 th {
   
    font-weight: 400;
    color: $redColor;
}

#table1Tr2 td {
    font-size: 14px;
    text-align: center;
    //color: $blackish;
    font-weight: 500;
}

.table1 tr:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

#table tr:nth-child(even) {
    background-color: #30334e
}

.table tr:hover {
    background-color: rgb(241, 241, 241);
}

#table tr:hover {
    background-color: #404466
}
.noDataDiv{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
.noDataIc{
    font-size: 150px;
    color: $blackish;
}
.noDataDiv p{
    font-size: 30px;
    width: 50%;
    text-align: center;
    color: $blackish;
    margin-top: 20px;
}
.headCont{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
.headList{
    margin-right: 20px;
    border: 1px solid $blackish;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $blackish;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}
.headListP1{
    font-size: 14px; 
 }
 .headListP2{
     font-size: 10px; 
     
 }
 .headListP3{
     font-size: 10px; 
 }
 .headList div{
     display: flex;
     margin-top: 0px;
     align-items: center;
 }
.delIC{
    font-size: 24px;
    cursor: pointer;
}
.modal{
    position: fixed;
    top:0;bottom:0;right:0;left:0;
    z-index: 10;
    background-color: #00000022;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delModal{
    width: 400px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
.delModalP1{
    font-size: 18px;
    font-weight: 600;
}
.delModalP2{
    margin: 10px 0px;
}
.delModal div{
    margin-top: 15px;
}
.delModal button{
    padding: 5px 20px;
    margin-right: 10px;
    cursor: pointer;
}
.eve2Div{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.eve2Div p{
    margin-right: 20px;
    border: 1px solid $blackish;
    color: $blackish;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    padding: 4px 20px;
    border-radius: 2px;
    font-size: 16px;
}
#theSubMenuP2{
    color: white;
    border-color: $redColor;
    background-color:$redColor;
}
#exportDiv{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -20px;
    position: absolute;
    top:0;right: 0;
    margin-top: 5px;
 }
 #exportDiv1{
    font-size: 20px;
    width: 170px;
    color: $redColor;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 10px;
   
 }
 .exportP{
    font-size: 16px;
    border: 1px solid $redColor;
    margin-top: 10px;
    padding: 2px 10px;
    font-weight: 500;
    cursor: pointer;
 }
 @media all and (max-width: 1000px) {
 .menu2Div0{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.menu2Div1 {
    padding-bottom: 20px;
    margin: -10px 0px 50px 0px;
    width: 100%;
    
}
 }
@media all and (max-width: 800px) {
    .container {
        padding: 160px 40px 100px 40px;
    }
    .noDataDiv{
        display: flex;
        flex-direction: column;
        min-height: 200px;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
    }
    .noDataIc{
        font-size: 120px;
        color: #706f6f;
    }
    .noDataDiv p{
        font-size: 25px;
        width: 70%;
        text-align: center;
        color: #706f6f;
    }
}

@media all and (max-width: 600px) {
    .container {
        padding: 160px 40px 100px 40px;
    }
    .eve2Div p{
        margin-right: 5px;
        padding: 4px 15px;
        border-radius: 2px;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 430px) {
    .menuHeader p{
        font-size: 16px;
    }
    .container {
        padding: 160px 20px 100px 20px;
    }
    .noDataIc{
        font-size: 100px;
        
    }
    .noDataDiv p{
        font-size: 22px;
        width: 90%;
        margin-top: 20px;
    }
    .eveP{
        font-size: 26px;
    }
    .delModal{
        width: 350px;
        height: 180px;
        padding: 10px 20px;
    }

   
}

@media all and (max-width: 360px) {
    .container {
        padding: 160px 10px 100px 10px;
    }
    .delModal{
        width: 300px;
        height: 160px;
        padding: 10px 20px;
    }

    .eve2Div p{
        margin-right: 5px;
        padding: 4px 10px;
        border-radius: 2px;
        font-size: 16px;
        margin-bottom: 10px;
    }






    .headerDiv{
        margin-right: 15px;
        padding: 10px 10px;
        margin-bottom: 10px;
    }
    .headerDiv2{
        margin-right: 15px;
        padding: 10px 10px;
        font-size: 18px;
        margin-bottom: 10px;
    }
}