$blackish: #292f51;
$redColor: #CB1E31;
$pastEve: #919191;
$theDark: #b2b2b2;

.container {
    padding: 250px 90px 100px 90px;
    min-height: 100vh;
}

.eventsCont {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.eventsP {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid $blackish;
    color: $blackish;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    padding: 0px 20px;
}

#playerP1 {
    background-color: $redColor;
    color: white;
    border-color: $redColor;
}

#playerP2 {
    background-color: $redColor;
    color: white;
    border-color: $redColor;
}

#playerP3 {
    background-color: $blackish;
    color: white;
    border-color: $blackish;
}

.eventsDiv {
    //width: 68%;
    margin-right: 380px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
    //background-color: red;
    flex-wrap: wrap;
}

.selectDiv {
    display: flex;
    align-items: center;
    background-color: $redColor;
    color: white;
    height: 30px;
    margin-top: -10px;
    border-radius: 2px;
    margin-right: 5px;
    width: 20px;
    justify-content: center;
    cursor: pointer;
}

.listP {
    border: 1px solid $blackish;
    color: $blackish;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    padding: 5px 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.leaderBDiv {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color:#2d85b8;
    //background-color: #003cff;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    border-radius: 5px;
}

.leaderBDiv h3 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 2px;
}

.arrIC {
    margin-left: 5px;
    font-size: 20px;
    color: #fff;
    //color: #4f57c4;
}

.matchesHeadDiv {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.headList {
    margin-right: 20px;
    border: 1px solid $blackish;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $blackish;
    font-weight: 600;
    cursor: pointer;
}

.headListP1 {
    font-size: 14px;
}

.headListP2 {
    font-size: 10px;

}

.headListP3 {
    font-size: 10px;
}

.headList div {
    display: flex;
    margin-top: 0px;
    align-items: center;
}

.detailsModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #00000022;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createEventDiv {
    width: 350px;
    height: auto;
    background-color: white;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.weekP {
    font-weight: 600;
    color: $blackish;
    margin-bottom: 15px;
}

.selectorDiv {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.selectorDiv p {
    margin-left: 5px;
    color: $blackish;
    font-weight: 500;
}

.boxDiv3 {
    height: 18px;
    width: 18px;
    border: 2px solid $redColor;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $redColor;
    color: white;
}

.boxDiv3b {
    height: 18px;
    width: 18px;
    border: 2px solid $blackish;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: $blackish;
}

.checkDiv {
    cursor: pointer;
}

@media all and (max-width: 900px) {
    .eventsDiv {
        margin-right: 0px;
    }

    .container {
        padding: 190px 40px 100px 40px;
    }
}

@media all and (max-width: 800px) {
    .container {
        padding: 190px 40px 100px 40px;
    }
}

@media all and (max-width: 780px) {
    .container {
        padding: 190px 20px 100px 20px;
    }
}

@media all and (max-width: 600px) {
    .container {
        padding: 190px 40px 100px 40px;
    }
}

@media all and (max-width: 430px) {
    .container {
        padding: 150px 20px 100px 20px;
    }

    .leaderBDiv {
        width: 220px;
    }

    .leaderBDiv h3 {
        font-size: 18px;
        padding-bottom: 2px;
    }
}

@media all and (max-width: 360px) {
    .container {
        padding: 150px 10px 100px 10px;
    }

}